body {
  background:rgb(230, 167, 196);
  line-height: 1.5em;
}

body {
  display: grid;
  grid-gap: 0; 
  grid-template-areas:
    "topnav"
    "header"
    "content"
    "footer";
}

.orange{
  display: block;
  width: 100px;
  height: 100px;
}

//횧etta er BYRJUN animation partsins -----------------T~T-----------------


#hreyfing{
  height:100px;
  width:100px;
  margin:0 auto;
  position: relative;
  -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 5s infinite;
  -webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
  transition: width 2s, height 4s;
}

#hreyfing:hover{
  width: 300px;
  height: 300px;
}

#hreyfing img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#hreyfing img.top:hover {
  opacity:0;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  0% {left: 0px;}
  30% {left: 200px;}  
  60% {left: 200px;}
  100% {left: 0px;}
}

@keyframes mymove {
  0% {left: 0px;}
  30% {left: 200px;}  
  60% {left: 200px;}
  100% {left: 0px;}
}

//횧etta er ENDIR animation partsins -----------------T~T-----------------

//횧etta er navbar byrjun -----------------T~T-----------------
.navbar {
  overflow: hidden;
  background-color: rgb(190, 54, 168);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(158, 22, 135);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(245, 238, 238);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

//횧etta er navbar endirinn -----------------T~T-----------------

.topnav {
  grid-area: topnav; 
  }

header {
  grid-area: header;
}

.content {
  grid-area: content; 
}

footer {
  grid-area: footer;
}

.topnav {
  background: rgb(199, 92, 163); 
}

header {
  background: rgb(163, 75, 144); 
}

.content{
  background: rgb(187, 68, 134);
}

footer {
  background: rgb(151, 28, 96); 
}

.midja{
  background: rgb(196, 47, 216);
}

.midja{
  grid-area: midja;
}

.vinstri{
 grid-area: vinstri;
}


header,
footer,
.midja,
.vinstri, 
.haegri {
padding: 1em; 
}

.content {
  display: grid; /* grid erfist til barna (child element only) */
  grid-gap: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "vinstri midja"
    "vinstri midja";
  }

header h1 {
  color: #fff;
  line-height: 1.2;
  font-weight: normal;
}

img, video {
  max-width: 100%;
  height: auto;
}

img {
  display: block; 
}
  
figure {
  margin:0; 
  border: 1px solid black;
}

.myndabox {
  width: 163px;
  grid-gap: 0;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-areas: 
  "einn"
  "tveir"
  "trir"
  "fjorir";
}

.tabby {
  max-width: 130px;
  position: absolute;
  right: 10px;
  top: 60px;
}
@media screen and (min-width: 37.5em) {
  
  body {
      display: grid;
      grid-gap: 0; 
      grid-template-areas:
        "topnav"
        "header"
        "content"
        "footer";
  }
  
  .myndabox {
      width: 318px;
      grid-gap: 0;
      display: grid;
      margin-left: auto;
      margin-right: auto;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
      "einn tveir"
      "trir fjorir";
  }
}

@media screen and (min-width: 60em) {
  
  body {
      display: grid;
      grid-gap: 0; 
      grid-template-areas:
        "topnav"
        "header"
        "content"
        "footer";
  }

  .myndabox {
      width: 486px;
      grid-gap: 0;
      display: grid;
      margin-left: auto;
      margin-right: auto;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: 
      "einn tveir trir fjorir";
  }
  
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}